body{padding: 0;margin: 0;font-family: 'Open Sans', sans-serif; }
body.aboutme{background-color: #111;}
.wrapper{border-bottom: 1px solid;}
.head{padding: 0 12%; overflow: hidden;}
.photo{float: left;}
.photo img {width: 180px;height: 180px; border-radius: 129px;
}
.page-heading, .about{float: right;width: 76%;padding-top: 60px;}
.about h1,.movies h3,.courses h3,.neighbors h3{color:#9dc2ef;}

    .page-heading h1{float: left;}

    .content ul li{padding:3px 0;}
    .content ul li a, .content ul li a:link{text-decoration: none; font-weight: 600;}
    .content ul li a:hover{text-decoration: underline;font-weight: 600;color: red;}

.container{padding: 0 12%;}
.footer p{text-align: center;float: right;}
.content{padding-top:20px; padding-bottom: 30px;}
.copyright{float: left;padding: 10px;width: 60%;}
    .w3c{float: right;padding: 10px;}
    @media only screen and (max-width: 760px) {
        .page-heading {float: right;width: 94%;padding-top: 6px;
        }
        .content ul{padding-left: 0;}
        .copyright {float: left;padding: 5px;width: 85%;
        }
      }
      .content p,.aboutme-copy p{color:#FFF;}
      .intro {
        border-bottom: 1px solid #767474;
    }        .courses ul>li, .neighbors ul>li{color:#FFF;}
    .movies ol{list-style:decimal;color:#FFF;  display: flex;
        flex-direction: column-reverse;}
    .movies ol>li{padding:5px 0;}
    .movies ol>li>dl>dt{color:yellow;}
    .movies ol>li>dl>dt>dd{color: #767474;}
    .movies p{font-style: italic;}
    .moods{overflow: hidden;}
    .first{float: left; width: 50%;}
.second{float: right;width:50%;}
.mood-title{
    float: left;
    width: 20%;
}
.mood-title h4{color:#FFF;
    padding-top: 215px;}

    .mood-img{float: right;
        width: 80%;}
.mood-img img{width:84%; height: auto;}
.marker{border-bottom: 1px solid #767474;}
.imdb a, .imdb a:link{color:red; text-decoration: none;}
.imdb a:hover{color:yellow; text-decoration: underline;}
ul.movie-details{list-style: none; padding-left: 0;}
ul.movie-details li{color:yellow;}

ul.movie-item {
    list-style: none;
}
    ul.movie-item li {
        color: #d1cccc;
    }
    em.md{color:#f0e12b;}
    
      
    span.flip_V{ display: inline-block; margin:1em; } 
      .flip_V{ -moz-transform: scale(1, -1);
        -webkit-transform: scale(1, -1);
        -o-transform: scale(1, -1);
        -ms-transform: scale(1, -1);transform: scale(1, -1); }
        .flip_V::first-letter{font-size: 30px;}