body{padding: auto;margin: 0;
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Roboto Condensed', sans-serif; */
    font-family: 'Open Sans', sans-serif;
    }
.wrapper{border-bottom: 1px solid;}
.head{padding: 0 12%; overflow: hidden;}
.photo{float: left;}
.photo img {
    width: 180px;
    height: 180px;
    border-radius: 129px;
}
.page-heading{float: right;
    width: 76%;
    padding-top: 60px;}
    .page-heading h1{float: left;}

    .content ul li{padding:3px 0;}
    .content ul li a, .content ul li a:link{text-decoration: none; font-weight: 600;}
    .content ul li a:hover{text-decoration: underline;font-weight: 600;color: red;}

.footer{    background: #ddd;}
.container{padding: 0 12%;}
.footer p{text-align: center;float: right;}
.content{padding-top:20px; padding-bottom: 30px;}
.copyright{float: left;
    padding: 10px;
    width: 60%;}
    .w3c{float: right;
        padding: 10px;}