<!DOCTYPE html>
<html lang="en">
    <head>
        <title>W3D6 - q2</title>
    </head>
    <body>
        <form action="result" method="POST">
            <label>Name</label> 
            <input name="name" type="text">
            <label>Age</label>
            <input name="age" type="number">
            <button type="submit">Submit Qurey</button>
        </form>
    </body>
</html>