body{
    font-family: Verdana, Tahoma, sans-serif;
    background-image: url('../images/background.png');
    font-size: 8pt;
    padding:0;
    margin: 0;
 }
 .top-banner{
    background: url('../images/bannerbg.png') repeat-x;
    height: 50px;

 }
 .top-banner img{margin: auto;padding: 0; position: relative;
    display: block;}

    .page-heading h1{
        font-size: 24pt; 
        font-weight: 600;
        font-family: Tahoma,Verdana,sans-serif;
        text-align: center;
        text-shadow: 3px 3px #999999;

    }
    .content{ width: 800px;
        margin:auto;
        border:4px solid gray;
        border-radius: 20px;display: grid;overflow: hidden;grid-template-columns: 550px auto;
        grid-template-rows: auto auto;
        grid-template-areas:
            'left right'
            'footer footer';

    }
    .left{width:550px;grid-area: left;}
    .rotton{    background: url('../images/rbg.png') repeat-x;
        height:83px;
        border-top-left-radius: 36px;
    }
    .rotton img{border-top-left-radius: 15px;height:83px;
    }
    .rotton h1{
        font-size: 48pt; color: red;display: inline;
        vertical-align: top;
    }
    .review-box{display: flex;
        flex-wrap: wrap;
        gap: 2%;
        padding: 2%;
    }
    .review{
        width: 47%;    
    display: block;
    margin-bottom: 20px;
    }
    .review img{
        float: left;
        padding-right: 5px;
    }
    .review > p:first-child{
        font-weight: 600;padding: 8px;
        border: 2px solid gray;
    border-radius: 10px;
    background-color: #E8DC9B; 
    max-height: 98px !important;
    min-height: 25px;    }
    .side{display: block;

    }
    .right{
        width: 250px; 
        background-color: #A2B964;
        font-size: 8pt;grid-area: right;
    }
    .overview{font-size: 8pt;    font-family: Arial, Tahoma, sans-serif; padding:10pt;font-weight: 600;
    }
    .overview dt{padding-top:10pt; }
    .overview dl>ul{list-style: none;}
    .footer{background-color: #a2b964;
        width: 800px;}
        .footer p{text-align: center;}
        .w3c-validator{bottom: 0;right: 0;position: fixed;opacity: 0.5;

        }